/** @format */

* {
  font-family: arial, sans-serif;
  margin: 0;
  font-size: 14px;
  color: #222;
}
.top-nav {
  font-size: 13px;
  margin-top: 24px;
  margin-left: 18px;
  margin-right: 10px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.left-top {
  float: left;
  padding-right: 15px;
}

.right-top {
  float: right;
  padding-left: 25px;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: rgb(53, 53, 53);
}

a:hover {
  text-decoration: underline;
}

#apps {
  position: relative;
  width: 20px;
  top: -3px;
  opacity: 0.75;
  padding-left: 0px;
  transform: scale(0.75);
}
#apps:hover {
  opacity: 1;
}

#account-image {
  position: relative;
  top: -12px;
  border-radius: 50%;
}

#logo {
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 300px;
  height: auto;
}

.search-area {
  display: flex;
  justify-content: center;
}

#search-box {
  position: relative;
  left: 45px;
  top: 17px;
  background-image: url(Images/magnifying-glass.jpg);
  background-position: 4px 7px;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 38px;
  width: 530px;
  height: 44px;
  z-index: 1;
  margin: auto;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  -webkit-tap-highlight-color: transparent;
}

#search-box:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

#search-box:focus {
  outline: none;
}

#magnify {
  transform: scale(0.6);
}

#mic-img {
  position: relative;
  transform: scale(0.42);
  right: 20px;
  top: 6px;
  opacity: 0.9;
  z-index: 2;
}
#mic-img:hover {
  cursor: pointer;
}
.searchButtons {
  display: flex;
  justify-content: center;
  position: relative;
  top: 6px;
}

.buttons {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 5px 16px 5px 16px;
  line-height: 27px;
  height: 24px;
  text-align: center;
  cursor: pointer;
}

.buttons:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
  text-decoration: none;
}

.top-footer {
  display: flex;
  position: fixed;
  bottom: 40px;
  background-color: gray;
  width: 100%;
  justify-content: flex-start;
  margin: 0;
  background: #f2f2f2;
  line-height: 50px;
  border-top: 1px solid #e4e4e4;
}

.nationality-picker {
  display: flex;
  justify-content: flex-start;
  padding-left: 27px;
}

.footer-bar {
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: gray;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  background: #f2f2f2;
  line-height: 45px;
  border-top: 1px solid #e4e4e4;
  color: rgb(#70757a);
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  padding: auto;
}

.footer-middle {
  display: flex;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 27px;
  padding: auto;
}

.footer-tab {
  padding-left: 27px;
  opacity: 1;
}
